@using Newtonsoft.Json
@model Ti_Fate.ViewModels.BirthdayViewModel
<div class="row container-fluid">
    <label class="btn-lg btn-success btn-round animation-on-hover">
        <i class="tim-icons icon-gift-2" style="margin-bottom: 5%; margin-right: 10px"></i> 本月壽星
    </label>
</div>
<hr>
    <div class="col-12" id="faterList" v-for="faterList in AllNewFater">
        <label class="btn-lg btn-warning h4 text-center font-weight-bolder animation-on-hover">
            {{faterList.Month}} 月壽星
        </label>
        <div class="row">
            <div v-for="fater in faterList.List" class="col-md-2  d-flex align-content-stretch flex-wrap">
                <a v-on:click="toFaterProfile(fater.Id)" class="card" href="#">
                    <div class="card-body text-center ">
                        <img class="avatar" style="width: 70px; height: 70px" v-bind:src="fater.FirstPicture|srcEditor" alt="fater壽星照片">
                        <hr>
                        <span v-bind:class="locationType(fater.Location)">{{fater.Location}}</span>
                        <hr>
                        <h4>{{fater.Name}}</h4>
                        <hr>
                        <h6>{{fater.Birth|BirthFilter}}</h6>
                        <h5 class="card-description">
                            {{fater.Position}}/{{fater.Department}}/{{fater.TeamName}}
                        </h5>
                    </div>
                </a>
            </div>
        </div>
        <hr>
    </div>

<script>
    var app = new Vue({
        el: '#faterList',
        data: {
            AllNewFater: [
                {
                    Month: @DateTime.Now.Month ,
                    List: @Html.Raw(JsonConvert.SerializeObject(Model.FaterBirthday))
                }
            ]
        },
        methods: {
            toFaterProfile: function (id) {
                window.location.href = '@Url.Action("Profile", "Profile", new {profileId = "ID"})'.replace("ID", parseInt(id));
            },
            locationType: function (type) {
                if (type === "臺中") {
                    return 'badge badge-pill badge-success';
                } else {
                    return 'badge badge-pill badge-info';
                }
            }
        },
        filters: {
            srcEditor: function(value) {
                return value.toString().replace("~", "");
            },
            BirthFilter: function (value) {
                return moment(value).format("MMMM DD");
            }
        }
    });
</script>