<div class="row container-fluid">
    <label class="btn-lg btn-success btn-round animation-on-hover">
        <i class="tim-icons icon-gift-2" style="margin-bottom: 5%; margin-right: 10px"></i> 本月壽星
    </label>
</div>
<hr>
<div class="col-12" id="birthdayList">
    <label class="btn-lg btn-warning h4 text-center font-weight-bolder animation-on-hover">
        {{birthday.month}} 月壽星
    </label>
    <div class="row">
        <div v-for="profile in birthday.profileList" class="col-md-2  d-flex align-content-stretch flex-wrap">
            <a v-on:click="toProfilePage(profile.Id)" class="card" href="#">
                <div class="card-body text-center ">
                    <img class="avatar" style="width: 70px; height: 70px" v-bind:src="profile.firstPicture|srcEditor" alt="profile壽星照片">
                    <hr>
                    <span v-bind:class="locationType(profile.location)">{{profile.location}}</span>
                    <hr>
                    <h4>{{profile.name}}</h4>
                    <hr>
                    <h6>{{profile.birth|birthFilter}}</h6>
                    <h5 class="card-description">
                        {{profile.position}}/{{profile.department}}/{{profile.teamName}}
                    </h5>
                </div>
            </a>
        </div>
    </div>
    <hr>
</div>

<script>
    fetch('@Url.Action("GetBirthdayList", "Birthday")')
        .then(function (response) {
            response.json().then(function(data) {
                app.birthday.profileList = data;
            });
        });

    var app = new Vue({
        el: '#birthdayList',
        data: {
            birthday: {
                month: @DateTime.Now.Month,
                profileList: null
            }
        },
        methods: {
            toProfilePage: function (id) {
                window.location.href = '@Url.Action("Profile", "Profile", new {profileId = "ID"})'.replace("ID", parseInt(id));
            },
            locationType: function (type) {
                if (type === "臺中") {
                    return 'badge badge-pill badge-success';
                } else {
                    return 'badge badge-pill badge-info';
                }
            }
        },
        filters: {
            srcEditor: function (value) {
                return value.toString().replace("~", "");
            },
            birthFilter: function (value) {
                return moment(value).format("MMMM DD");
            }
        }
    });
</script>