<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="Error" internalLogFile="D://home/site/AspNetCoreNlog/Ti_Fate" throwExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--[變數] 文字樣板 -->
  <variable name="Layout" value="[${level:uppercase=true}]${longdate}${newline}[${level:uppercase=true}]${logger}${newline}[${level:uppercase=true}]${message}${exception:format=tostring}${newline}"/>
  <variable name="Path" value="D://home/site/AspNetCoreNlog/Ti_Fate"/>
  <targets>
    <target xsi:type="File" name="ErrorLog" fileName="${Path}/${shortdate}/ErrorLog.txt" layout="${Layout}" archiveFileName="${Path}/${shortdate}/ErrorLog_{###}.txt" archiveAboveSize="5242880" maxArchiveFiles="100"/>
    <target xsi:type="File" name="SqlLog" fileName="${Path}/${shortdate}/Sql.txt" layout="${Layout}" archiveFileName="${Path}/${shortdate}/Sql_{###}.txt" archiveAboveSize="5242880" maxArchiveFiles="100"/>
    <target xsi:type="File" name="InfoLog" fileName="${Path}/${shortdate}/InfoLog.txt" layout="${Layout}"/>
    <target xsi:type="File" name="WarnLog" fileName="${Path}/${shortdate}/WarnLog.txt" layout="${Layout}"/>
    <target xsi:type="File" name="TraceLog" fileName="${Path}/${shortdate}/TraceLog.txt" layout="${Layout}"/>
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="ErrorLog" />
    <logger name="*" level="Warn" writeTo="WarnLog" />
    <logger name="*" level="Info" writeTo="InfoLog" />
    <logger name="*" level="Debug" writeTo="SqlLog" />
    <logger name="*" level="Trace" writeTo="TraceLog" />
  </rules>

</nlog>